* {
  margin: 0;
  padding: 0;
}

body {

}


.menu{
  /* display: flex;
  justify-content: space-between; */
  font-size: 25px;
  color: #ffffb599;
  float: right;
  list-style: none;
  margin-top: 55px;
}

#title{
  padding-top: 0.7em;
}

.topper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #6b8c4225;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 1em;
  margin-bottom: 1em;
  font-family: 'Inconsolata', monospace;
  font-size: 1.4em;
  color: #ffffb599;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.73)), url(happy_pup_2.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#form-styling {
  /* margin-left: 20em; */
  margin-right: 5em;
  display: flex;
  justify-content: flex-end;
}

.form-item {
  background-color: #5a392120;
  display: flex;
  justify-content: flex-end;
  padding-top: 0.8em;
  opacity: 0.7;
  font-size: 20px;
  height: 20px;
  border-radius: 25px;
  color: #ffffb9;
}

#dropDown {
  height: 25px;
  opacity: 0.5;
  background-color: #00000050;
  color: #ffffb9;
}

.button {
  background-color: #5a392130;
  padding: 0.4em;
  margin-top: 1.5em;
  margin-left: 1em;
  border-radius: 15px;
  border: 2px solid #ffffb550;
  color: #ffffb5;
  font-size: 15px;
}


p {
  color: #ffffb599;
  padding: 1em;
}

.list-title {
  padding: 1em;
  color: #ffffb599;
}

#adoption-list {
  margin-top: 3.5em;
  display: flex;
  align-self: flex-end;
  justify-content: flex-start;
  background-color: #00000010;
}
